/*****************
***Root section***
******************/

:root {
  --skyBlue: #0ea5e9;
  --grayBg: #cbd5e1;
  --orange: #fb923c;
  --black: #000000;
  --white: #ffffff;
  --padS: 0.5rem;
  --padM: 1rem;
  --padL: 1.5rem;
  --padXL: 2rem;
}

* {
  border: 1px solid red;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

html {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: var(--black);
}

body {
  width: 100%;
  min-height: 100vh;

  text-align: left;
  background-color: white;
  display: grid;
  grid-template: min-content 1fr / 250px 1fr;
}

img {
  display: block;
  max-width: 100%;
}

/*************
***Sections***
*************/

header {
  grid-area: 1 / 2 / 2 / 3;
  padding: var(--padM) var(--padXL);
  color: var(--black);
  font-weight: 700;
  display: grid;
  grid-template: 45px 1fr / 1fr 1fr;

  row-gap: var(--padL);
}

nav {
  grid-area: 1 / 1 / 3 / 2;
  padding: var(--padM);
  background-color: var(--skyBlue);
  color: var(--white);
  font-weight: 700;
  display: flex;
  flex-direction: column;
  row-gap: var(--padXL);
}

main {
  grid-area: 2 / 2 / 3 / 3;
}

/*******************
***Header section***
*******************/

/* Form */

form {
  display: flex;
  align-items: center;
}

form img {
  width: 40px;
  margin-right: var(--padL);
  filter: invert(0);
}

#search {
  width: 85%;
  padding: var(--padS);
  font-size: var(--padM);
  background-color: var(--grayBg);
  border-radius: 20px;
}

/* Logo */

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logo > * {
  margin-left: 25px;
}

.logo > img:nth-child(1) {
  width: 24px;
}

.logo > img:nth-child(2) {
  width: 40px;
}

/* Name */

.name {
  display: flex;
  align-items: center;
}

.name img {
  width: 60px;
  margin-right: 40px;
}

.name a,
.name a:active,
.name a:visited {
  color: var(--black);
}

.name a {
  display: inline-block;
  transition-duration: 0.3s;
}

.name a:hover {
  transform: scale(1.05);
  opacity: 0.8;
}

/****************
***Nav section***
*****************/

nav > div,
nav li {
  padding: var(--padS);
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
}

nav li:hover {
  transform: scale(1.05);
  opacity: 0.8;
  cursor: pointer;
}

nav li:active {
  text-decoration: underline;
  transform: translateY(3px);
  cursor: pointer;
}

nav a,
nav a:visited,
nav a:active {
  color: var(--white);
}

nav img {
  width: 40px;
  margin-right: 15px;
  filter: invert(1) brightness(10);
}

nav li img {
  padding: 0 8px 0 8px;
}

/****************
***Main section***
*****************/

main {
  width: 100%;
}

/* Huddle header */

/* Huddle content */

/******************
***Cards section***
******************/

/***********
***Footer***
***********/

/***************
***Anchor tag***
***************/

/**************
***Fa brands***
**************/

/************************
***Media query section***
************************/
